

.sky {
  margin: 0 auto;
  width: 600px;
  height: 100vh;
  float: left;
  margin:10px;

  /*background: lightblue;*/
  position: relative;
  scroll-behavior: auto;
  background: linear-gradient(358deg, #570666, #4133cd, #14896e, #b11027, #d83716, #dec939, #39d8de, #e19dbc);
  background-size: 1600% 1600%;
  scroll-behavior: auto;
  -webkit-animation: animate_bg 20s ease infinite;
  -moz-animation: animate_bg 59s ease infinite;
  animation: animate_bg 59s ease infinite;
/*check on background animator, problem with my background values*/
/*https://www.gradient-animator.com/*/
}

@keyframes animate_bg {
    0%   {background:#b11027,;}
    25%  {background:#570666;}
    50% {background:#b11027,;}
    50% {background:#b11027,;}


}
@-moz-keyframes Animate_bg{
  0%{background-position:42% 0%}
  50%{background-position:59% 100%}
  100%{background-position:42% 0%}
}

@-webkit-keyframes animate_bg {
    0%   {background:red;}
    50%  {background:green;}
    100% {background:blue;}
}
@-moz-keyframes Animate_bg{
  0%{background-position:42% 0%}
  50%{background-position:59% 100%}
  100%{background-position:42% 0%}
}

#character {
  margin: 0 auto;
  width: 100px;
  left:0;
  bottom: 0;
  height: 100px;
  background: red;
  position: absolute;
}

.title_screen{
  text-align: center;
  margin-left: 50px;
  margin-right:50px;
  width:0px;
  height:0px;
  border-left: 300px solid transparent;
  border-right:300px solid transparent;
  border-top: 300px solid transparent;
  border-radius: px;
  position:relative;
  margin:auto;
  top:5px;
  left:2px;
}

img {
 height: 5%;
 width: 5%;
 margin: 10px

}
div.heart2{
  top:auto;
}

/*#heart_style {
  position: fixed;
  top: 10px;
  display: inline-block;
  width: 50px;
}

.heart-yellow {
  width: 100%;
  height: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 5px;
}*/
/*.big_cloud{
background-size: cover;
height: 800%;
width: 800%;
position: relative;
overflow: hidden;
animation: cloudOne infinite 30s linear;
}
@keyframes cloudOne{
0%{transform: translateX(-100%);
}
100%{
transform: translateX(100%);

}
}*/

/*parallax animation link https://www.youtube.com/watch?v=lbAijXD2gHk*/
body {

background: white;
  -webkit-animation: AnimationName 59s ease infinite;
  -moz-animation: AnimationName 59s ease infinite;
  animation: AnimationName 59s ease infinite;

  @-webkit-keyframes Animate_bg {
    0%{background-position:42% 0%}
    50%{background-position:59% 100%}
    100%{background-position:42% 0%}
  }
  @-moz-keyframes Animate_bg{
    0%{background-position:42% 0%}
    50%{background-position:59% 100%}
    100%{background-position:42% 0%}
  }
  @keyframes AnimationName {
    0%{background-position:42% 0%}
    50%{background-position:59% 100%}
    100%{background-position:42% 0%}
  }
  color: #333;
  font: 100% Arial, Sans Serif;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#background-wrap {
  bottom: 0;
  left: 0;
  padding-top: 50px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: -1;
}



/* ANIMATIONS */

.x1 {
  animation: animateCloud 35s linear infinite;
  transform: scale(0.65);
}

.x2 {
  animation: animateCloud 20s linear infinite;
  transform: scale(0.3);
}

.x3 {
  animation: animateCloud 30s linear infinite;
  transform: scale(0.5);
}

.x4 {
  animation: animateCloud 18s linear infinite;
  transform: scale(0.4);
}

.x5 {
  animation: animateCloud 25s linear infinite;
  transform: scale(0.55);
}

/* OBJECTS */


.cloud {
  background: #fff;
  background: linear-gradient(top,  #fff 5%,#f1f1f1 100%);
  border-radius: 100px;
  box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
  height: 120px;
  position: absolute;
  width: 250px;
  shape-outside: circle();
}
