html, body {
  height: 100%;
  min-height: 100%;
}

.sky {
  width: 100%;
  height: 100%;
  position: relative;
  float: left;
  overflow: hidden;
  /*background: lightblue;*/
  background: linear-gradient(266deg, #55b29a, #cea6df, #f1bce8, #d2294d, #562aa1, #7eb9f2, #dee670, #eed3e8, #eed9d3, #73d7ee);
  background-size: 2000% 2000%;

-webkit-animation: background-color 55s ease infinite;
-moz-animation: background-color 55s ease infinite;
animation: background-color 55s ease infinite;

@-webkit-keyframes background-color {
    0%{background-position:0% 50%}
    50%{background-position:100% 51%}
    100%{background-position:0% 50%}
}
@-moz-keyframes background-color {
    0%{background-position:0% 50%}
    50%{background-position:100% 51%}
    100%{background-position:0% 50%}
}
@keyframes background-color {
    0%{background-position:0% 50%}
    50%{background-position:100% 51%}
    100%{background-position:0% 50%}
}
}

#heart_style {
  float: right;
  height: 300px;
  width: 50px;
  text-align: center;
  z-index: 9;
}

.heart {
  width: 50px;
}

#game-over {
  text-align: center;
  width: 100%;
  height: 100%;
  background: black;
  display: none;
}

.launch-screen {
  text-align: center;
}

#character {
  background: red;
  position: absolute;
  bottom: 0;
  width: 50px;
  height: 50px;
}

.cloud {
  right: 0;
  position: absolute;
  background: white;
  background: linear-gradient(top,  #fff 5%, #f1f1f1 100%);
  border-radius: 100px;
  box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
}


#play {
  text-align: center;
  width: 100%;
  background-image: linear-gradient(to right, #84fab0 0%, #8fd3f4 51%, #84fab0 100%);
  border:none;
  width: 25%;
  color:white;
}

.img{
  background:rgba(0,0,0,0.6));
}

.launch-screen {
  position: fixed;
  height: 100vh;
  width: 100%;
  z-index: 1;
  background: white;
}
.circle{
  right: 0;
  position: absolute;
  background: green;
  background: linear-gradient(top,  #fff 5%, #f1f1f1 100%);
  border-radius: 100px;
  box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
}

.lifeGlobe{
  right: 0;
  position: absolute;
  background: blue;
  background: linear-gradient(top,  #fff 5%, #f1f1f1 100%);
  border-radius: 100px;
  box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
}





/*

.sky {
  margin: 0 auto;
  width: 600px;
  height: 600px;
  background: lightblue;
  position: relative;
}

#character {
  margin: 0 auto;
  width: 100px;
  left:0;
  bottom: 0;
  height: 100px;
  background: red;
  position: absolute;
}

.title_screen{
  text-align: center;
  margin-left: 50px;
  margin-right:50px;
  width:0px;
  height:0px;
  border-left: 300px solid transparent;
  border-right:300px solid transparent;
  border-top: 300px solid transparent;
  border-radius: px;
  position:relative;
  margin:auto;
  top:5px;
  left:2px;
}

img {
 height: 5%;
 width: 5%;
 margin: 10px

}
div.heart2{
  top:auto;
}
#game-over{
  height: 100vh;
  width: 100%;
  position: fixed;
  background: white;
  top: 0;
  display: none;
}
#reset-button{
  height: 100px;
  width: 100px;
  position: fixed;
  background: white;
  top: 0;
  display: none;
}

#heart_style {
  float: left;
}


/*parallax animation link https://www.youtube.com/watch?v=lbAijXD2gHk*/
/*body {

background: white;

}

#background-wrap {
  bottom: 0;
  left: 0;
  padding-top: 50px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: -1;
}


/* OBJECTS */


/*.cloud {
  background: #fff;
  background: linear-gradient(top,  #fff 5%,#f1f1f1 100%);
  border-radius: 100px;
  box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
  height: 120px;
  position: absolute;
  width: 250px;
  shape-outside: square();
}*/
